﻿@model OnlineShoping.Models.ImageModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<br />
<h2>Create</h2>
<br />
<br />
<div>
    <div>
        <div class="col-lg-12">
            @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
            {
                <div>
                    <div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Item Name:</label>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.ItemName, new { @class = "form-control"})
                                </div>
                            </div>
                        </div><br />
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Item Discription</label>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.ItemSize, new { @class = "form-control"})
                                </div>
                            </div>
                        </div><br />
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Item Brand</label>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.ItemBrand, new { @class = "form-control"})
                                </div>
                            </div>
                        </div><br />
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Item Price</label>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.ItemPrice, new { @class = "form-control" })
                                </div>
                            </div>
                        </div><br />
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Image</label>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.ImageUpload, new { @class = "form-control", @type = "file" })
                                </div>
                            </div>
                        </div><br />
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script><br /><br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
