﻿@model IEnumerable<Entities.Item>
@{
    ViewBag.Title = "Index";
   
}


<div id="container">
    <div class="tabbed">
        <!-- First Tab Content -->
        <div class="tab-content" style="display:block;">
            <div class="items">
                <div class="cl">&nbsp;</div>
                <ul>
                   @foreach (var item in Model)
                   {
                       if (@item.ItemName == "Shoes")
                       {
                        <li>
                            <div class="image"> <a href="#"><img src="/ImageUpload/@item.ItemImageName" alt="" height="83" width="136" /></a> </div>
                            <p>
                                Shoe Name: <span>@Html.DisplayFor(modelItem => item.ItemName)</span><br />
                                Size List : <span>@Html.DisplayFor(modelItem => item.ItemSize)</span><br />
                                Brand Name: <a href="#">@Html.DisplayFor(modelItem => item.ItemBrand)</a>
                            </p>
                            <p class="price">Wholesale Price: <strong>@Html.DisplayFor(modelItem => item.ItemPrice)</strong></p>
                        </li>
                       };
                   }
                </ul>
                <div class="cl">&nbsp;</div>
            </div>
        </div>
        <!-- End First Tab Content -->
        <!-- Second Tab Content -->
        <div class="tab-content">
            <div class="items">
                <div class="cl">&nbsp;</div>
                <ul>
                    @foreach (var item in Model)
                    {

                        if (@item.ItemName == "Cloths")
                        {
                            <li>
                                <div class="image"> <a href="#"><img src="/ImageUpload/@item.ItemImageName" alt="" height="150" width="136" /></a> </div>
                                <p>
                                    Item  Name: <span>@Html.DisplayFor(modelItem => item.ItemName)</span><br />
                                    Discription : <span>@Html.DisplayFor(modelItem => item.ItemSize)</span><br />
                                    Brand Name: <a href="#">@Html.DisplayFor(modelItem => item.ItemBrand)</a>
                                </p>
                                <p class="price">Wholesale Price: <strong>@Html.DisplayFor(modelItem => item.ItemPrice)</strong></p>
                            </li>
                        };
                     
                    }
                </ul>
                <div class="cl">&nbsp;</div>
            </div>
        </div>
        <!-- End Second Tab Content -->
        <!-- Third Tab Content -->
        <div class="tab-content">
            <div class="items">
                <div class="cl">&nbsp;</div>
                <ul>
                    @foreach (var item in Model)
                    {
                        if (@item.ItemName == "Electronic")
                        {
                            <li>
                                <div class="image"> <a href="#"><img src="/ImageUpload/@item.ItemImageName" alt="" height="100" width="136" /></a> </div>
                                <p>
                                   Item Name: <span>@Html.DisplayFor(modelItem => item.ItemName)</span><br />
                                    Discription : <span>@Html.DisplayFor(modelItem => item.ItemSize)</span><br />
                                    Brand Name: <a href="#">@Html.DisplayFor(modelItem => item.ItemBrand)</a>
                                </p>
                                <p class="price">Wholesale Price: <strong>@Html.DisplayFor(modelItem => item.ItemPrice)</strong></p>
                            </li>
                        };

                    }
                </ul>
                <div class="cl">&nbsp;</div>
            </div>
        </div>
        <!-- End Third Tab Content -->
    </div>
    <!-- Brands -->
    <div class="brands">
        <h3>Brands</h3>
        <div class="logos"> <a href="#"><img src="~/css/images/logo1.gif" alt="" /></a> <a href="#"><img src="~/css/images/logo2.gif" alt="" /></a> <a href="#"><img src="~/css/images/logo3.gif" alt="" /></a> <a href="#"><img src="~/css/images/logo4.gif" alt="" /></a> <a href="#"><img src="~/css/images/logo5.gif" alt="" /></a> </div>
    </div>
    <!-- End Brands -->
    <!-- Footer -->
    <div id="footer">
        <div class="left"> <a href="#">Home</a> <span>|</span> <a href="#">Support</a> <span>|</span> <a href="#">My Account</a> <span>|</span> <a href="#">The Store</a> <span>|</span> <a href="#">Contact</a> </div>
        <div class="right"> &copy; Sitename.com. Design by <a href="http://chocotemplates.com">ChocoTemplates.com</a> </div>
    </div>
    <!-- End Footer -->
</div>
