﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Online Shoping</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
    <!--[if lte IE 6]><style type="text/css" media="screen">.tabbed { height:420px; }</style><![endif]-->
    <script src="~/js/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.jcarousel.pack.js" type="text/javascript"></script>
    <script src="~/js/jquery.slide.js" type="text/javascript"></script>
    <script src="~/js/jquery-func.js" type="text/javascript"></script>
</head>
<body>
    <!-- Top -->
    <div id="top">
        <div class="shell">
            <!-- Header -->
            <div id="header">
                <h1 id="logo"><a href="#">Online Shopping</a></h1>
                <div id="navigation">
                    <ul>
                        <li><a href="/Home/Index">Home</a></li>
                        <li><a href="/Home/Index">Image</a></li>
                        <li><a href="/Home/Create">My Account</a></li>
                        <li><a href="#">The Store</a></li>
                        <li class="last"><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Header -->
            <!-- Slider -->
            <div id="slider">
                <div id="slider-holder">
                    <ul>
                        <li><a href="#"><img src="~/css/images/slide1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/css/images/slide2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/css/images/slide1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/css/images/slide2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/css/images/slide1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/css/images/buss.png" alt=""height="418" width="800"/></a></li>
                    </ul>
                </div>
                <div id="slider-nav"> <a href="#" class="prev">Previous</a> <a href="#" class="next">Next</a> </div>
            </div>
            <!-- End Slider -->
        </div>
    </div>
    <!-- Top -->
    <!-- Main -->
    <div id="main">
        <div class="shell">
            <!-- Search, etc -->
            <div class="options">
                <div class="search">
                    <form action="#" method="post">
                        <span class="field">
                            <input type="text" class="blink" value="SEARCH" title="SEARCH" />
                        </span>
                        <input type="text" class="search-submit" value="GO" />
                    </form>
                </div>
                <span class="left"><a href="#">Advanced Search</a></span>
                <div class="right"> <span class="cart"> <a href="#" class="cart-ico">&nbsp;</a> <strong>$0.00</strong> </span> <span class="left more-links"> <a href="#">Checkout</a> <a href="#">Details</a> </span> </div>
            </div>
            <!-- End Search, etc -->
            <!-- Content -->
            <div id="content">
                <!-- Tabs -->
                <div class="tabs">
                    <ul>
                        <li><a href="#" class="active"><span>Shoes Items</span></a></li>
                        <li><a href="#"><span>Cloths Items</span></a></li>
                        <li><a href="#" class="red"><span>Electronic Items</span></a></li>
                    </ul>
                </div>

                <div>
                    @RenderBody();
                </div>
                <!-- End Container -->
            </div>
            <!-- End Content -->
        </div>
    </div>
    <!-- End Main -->
</body>
</html>
