﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Online Shoping</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
    <!--[if lte IE 6]><style type="text/css" media="screen">.tabbed { height:420px; }</style><![endif]-->
    <script src="~/js/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.jcarousel.pack.js" type="text/javascript"></script>
    <script src="~/js/jquery.slide.js" type="text/javascript"></script>
    <script src="~/js/jquery-func.js" type="text/javascript"></script>
</head>
<body>

    <!-- Main -->
    <div id="main">
        <div class="shell">
           
            <div id="content">
             
                <div>
                    @RenderBody();
                </div>
                <!-- End Container -->
            </div>
            <!-- End Content -->
        </div>
    </div>
    <!-- End Main -->
</body>
</html>
